*, ::before, ::after {
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

#fileTree {
    position: relative;
    border: 2px solid red;
    word-break: break-all;

    .file {
        cursor: pointer;
        background-color: blue;
        color: white;

        &.real {
            background-color: green;
        }
    }
}

#notebook {
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
        border: 2px solid green;
        padding: 10px;
        white-space: break-spaces;
        resize: none;
    }
}