*, ::before, ::after {
    box-sizing: border-box;
}

@font-face {
	font-family: "JetBrainsMono";
	src: url("../fonts/JetBrainsMono-VariableFont_wght.woff2") format("woff2-variations");
	font-weight: 0 1000;
	font-display: swap;
}

body {
    position: absolute;
    inset: 0px;
    margin: 0px;
    font-family: system-ui;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: red;
    padding: 10px;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: skyblue;
}

.content {
    position: relative;
    display: flex;
    background: orange;
    padding: 10px;
    gap: 10px;
}

.fileTreeContainer {
    position: relative;
    background: teal;
    min-width: 300px;

    #fileTree {
        position: sticky;
        top: 25px;
        word-break: break-all;
        margin: 0px;
        padding-right: 10px;
        padding-left: 25px;
    
        .file {
            cursor: pointer;
            background-color: blue;
            color: white;
    
            &.real {
                background-color: green;
            }
        }
    }
}


#notebook {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: purple;
    width: 100%;
    padding: 10px;
    overflow: hidden;

    .cell {
        width: 100%;
        background: pink;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        font-family: "JetBrainsMono";

        * {
            font: inherit;
        }

        .textContainer {
            position: relative;
            background: #f4f2f0;

            pre, textarea, code {
                position: relative;
                all: unset;
                font-size: 14px;
                display: block;
                font-weight: 450;
                width: 100%;
                white-space: pre-wrap;
                overflow: hidden;
                word-break: break-all;
                padding: 10px;
                box-sizing: border-box;
            }

            textarea {
                position: relative;
                z-index: 2;
                &.code {
                    color: transparent;
                    caret-color: black;
                }
                &::selection {
                    color: white;
                    background-color: rgb(0, 100, 161);
                }
            }

            .highlight {
                position: absolute;
                user-select: none;
                pointer-events: none;
                padding: 0px;
            }
    
            .userCarets {
                position: absolute;
                user-select: none;
                pointer-events: none;
                color: transparent;
   
                :not(.noFill) {
                    background-color: rgba(255, 0, 0, 0.411);
                    color: white;
                }
    
                .noFill {
                    background: unset;
                }
    
                .forward, .backward {
                    position: relative;
                    &::before, &::after {
                        position: absolute;
                        height: 20px;
                        width: 3px;
                        background-color: red;
                    }
                }
    
                .forward::after {
                    content: "";
                    bottom: 0px;
                    translate: -2px 0;
                }
    
                .backward::before {
                    content: "";
                    top: 0px;
                    translate: -2px 0;
                }
            }
        }

        img {
            max-width: 100%;
            min-width: 300px;
        }

        .outputContainer {
            
            summary {
                cursor: pointer;
            }

            > * {
                overflow: auto;
                max-width: 100%;
            }
        } 
    }

}