.editor-container {
    position: relative;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
}

.notebook-cell {
    display: grid;
    gap: 5px;
    background-color: rgb(30 30 30);
    padding: 10px;
    border-radius: 5px;

    &.markdown {
        background-color: #202c4b
    }

    select {
        border-color: black;
    }

    button, select {
        font-family: "JetBrainsMono";
    }

    .button-container {
        display: flex;
        gap: 5px;

        button {
            background: #00000066;
            border: 2px solid black;
            padding: 3px 8px;
            border-radius: 5px;
            cursor: pointer;
            transition: transform .1s, box-shadow .1s;
            
            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 4px 1px #0000009c;
            }
        }
    }

    .outputContainer {
        overflow: hidden;
            
        summary {
            cursor: pointer;
        }

        > * {
            overflow: auto;
            max-width: 100%;
        }
    }
}