.user-color-1 {
    --user-selection: hsla(240, 80%, 60%, 0.55);
    --user-cursor: hsl(240, 80%, 60%);
}

.user-color-2 {
    --user-selection: hsla(0, 100%, 50%, 0.55);
    --user-cursor: hsl(0, 100%, 50%);
}

.user-color-3 {
    --user-selection: hsla(90, 100%, 30%, 0.55);
    --user-cursor: hsl(90, 100%, 30%);
}

.user-color-4 {
    --user-selection: hsla(300, 90%, 40%, 0.55);
    --user-cursor: hsl(300, 90%, 40%);
}

.user-color-5 {
    --user-selection: hsla(40, 80%, 50%, 0.3);
    --user-cursor: hsl(40, 80%, 50%);
}